body {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    background-color: #000;
   

  } 
  body::after {
    content: "";
    background: url(BG.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    background-size: cover; 
    
  }
  .login-container {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  
  .login-wrapper {
    position: absolute;
    right: 450px;
    top: 25px;
    background-color: rgb(255, 255, 255);
    width: 27rem;
    height: 35rem;
    border-radius: 20px;
    padding: 15px;
  
  }
  
  .profile {
    width: 200px;
    margin: 0 auto;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  
  .profile img {
    border-radius: 50%;
    border: 5px solid #000000;
    height: 100px;
    margin: 10px;
  }
  
  .form-wrapper {
    padding: 0px 40px;
    margin-bottom: 2rem;
    
  }
  
  .form-wrapper input {
    width: 95%;
    height: 1rem;
    border: none;
    color: #656565;
    border-bottom: 1px solid #cecdcd;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
  }
  
  .form-wrapper p {
    margin: 0px;
    color: #000000;
  }
  
  .form-wrapper input:focus {
    border: none;
    border-bottom: 2px solid #a0d2dd;
    outline: none;

  }
  
  .form-wrapper input::placeholder {
    color: #cecdcd;
    font-family: "Poppins", sans-serif;
    font-size: 14px;

  }
  
  .forgot-passowrd {
    float: right;
    text-decoration: none;
    padding-top: 0.5rem;
    color: #656565;
  }
  
  .login-btn {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
  }
  
  .icon {
    margin: 0px 5px;
  }
  
  .platform {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-btn {
    width: 100%;
    text-align: center;
    margin-top: 5rem;

  }
  
  button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
  .asd{

    font-style: italic;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
 }
h7{

font-size: x-small;

}


