{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
  <br>
  <br>
  <br>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>About Us</h2>
              </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
                Our focused, sound and innovative approach is derived from the cumulative experience of our team members and as a result of their combined practical business experience with strong technology.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Highly skilled intellectual personnel</li>
              <li><i class="ri-check-double-line"></i> Goal is to exceed our customer’s expectations in the form of value, quality and complete customer satisfaction.</li>
              <li><i class="ri-check-double-line"></i> We are able to comprehend the Client’s business requirements, propose IT and Creative strategies </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
                BAO Uniform is a leading Development & Design expert company providing superior Software, Web, Mobile and Creative Designing solutions and services to companies globally. Having a strong Technology Development and Innovation center in Philippines and with more than 250+ satisfied clients worldwide, raging from startups - fortune 500 companies across diverse industries, Powerhouse has made it’s mark as a well established and sound company driven by the industry’s highly professional and trained individuals and is surely headed in becoming a leading organization which facilitates, enhances and provides measurable business value to customers through most effective uses of technology and Resources to organizations globally.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    
    <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>BAO Uniform</h3>
              <p>
                #301 Tumana st. <br>
               Marikina<br>
                Philippines <br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> BAO Uniform@example.com<br>
              </p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="about.html">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="services.html">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://web.facebook.com/BAO Uniform?_rdc=1&_rdr" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>BAO Uniform</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
         
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    {% include 'script.html' %}
    {% endblock %}
  </body>
  
  </html>
