{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
  <br>
  <br>
  <br>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>About Us</h2>
              </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              The Business Affairs Office provides the right direction in the management of business enterprises. This direction recognizes the need to institutionalize activities for income generation to support strategic planning.
            </p>
            <p>
              Inventory is important to Business Affairs Office because it leads to sales and it affects your BAO tax and financial situation. It's also important to get an accurate account of inventory to cut down on losses.
            </p>
            <ul>
              <li><i class="ri-check-double-line" style="color: #00ff3c;"></i> For income tax reporting</li>
              <li><i class="ri-check-double-line" style="color: #00ff3c;"></i> To minimize loss and theft</li>
              <li><i class="ri-check-double-line" style="color: #00ff3c;"></i> To get rid of obsolete and out of date inventory items</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Managing BAO Inventory Process</h3>
            <p>
              <strong>Get organized first.</strong> Taking inventory is much more difficult if your shelves are a mess. It's also a good time to clear out obsolete or outdated inventory. Be sure to count and value what you are throwing out. You will need that information for taxes.
            </p>
            <p>
              <strong>Consider cyclical inventory taking.</strong> Set up a schedule for taking inventory of different products or parts each month. By the end of the year you will have everything done and you can start over.
            </p>
            <p>
              <strong>Train your staff.</strong> it doesn't sound like rocket science, but taking inventory should be taken seriously. Select good employees and teach them how to do it right. Give them a checklist of what to look for (in addition to counting, of course). Then make sure they comply.
            </p>
            <p>
              <strong>Use FIFO to manage inventory on your shelves.</strong> Yes, FIFO (First-in-First-out) is an accounting technique, but you can also use it to get the oldest items at the front of the shelves so they get taken first. Grocery stores do it for perishables, but you can do it too.
            </p>
            <p>
              <strong>Use inventory control software to save time and money.</strong> You might find a software program that fits your business needs in this article evaluating several inventory software apps.
            </p>
            <a href="#" class="getstarted">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    
    <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>BAO Uniform</h3>
              <p>
                L. De Leon St. Acevida<br>
               Siniloan<br>
                Laguna<br>
                <strong>Phone:</strong> 09123456789<br>
                <strong>Email:</strong> BAOuniform@example.com<br>
              </p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/datalist">List</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/create">Add Uniforms</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="about">About Us</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Contact Us Here</h4>
              <p>Have a question or query you need answered? Contact HERE.</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://web.facebook.com/BAO Uniform?_rdc=1&_rdr" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <footer id="footer">
        <div class="container footer-bottom clearfix">
          <div class="copyright">
            &copy; Copyright <strong><span>BAO Uniform</span></strong>. All Rights Reserved
          </div>
        </div>
      </footer>
      
    {% include 'script.html' %}
    {% endblock %}
  </body>
  
  </html>
