{% extends 'base.html' %}
{% include 'header.html' %}
 
 
 
{% block title %} Home {% endblock %}
 
 
 
{% block body %}
<div class="container">
<form action='' method = "POST">
<table class="table">
    <tr>
        <td>Department Name</td>
        <td><input type = "text" name = "dep_name" class="form-control" /></td>
    </tr>
    <tr>
        <td>Course Name</td>
        <td><input type = "text" name = "course_name" class="form-control" /></td>
    </tr>
    <tr>
        <td>Uniform Type</td>
        <select name="type" class="form-control">
            <option value="a">Type A</option>
            <option value="b">Type B</option>
            <option value="c">Type C</option>
            <option value="d">Type D</option>
         </select>
    </tr>
    <tr>
    <tr>
        <td>Stock</td>
        <td><input type = "number" name = "stock" class="form-control" /></td>
    </tr>

    <tr>
        <td>Sizes</td>
        <td>
        <select name="sizes" class="form-control">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="Large">Large</option>
            <option value="Extra Large">Extra Large</option>
         </select>
        </td>
    </tr>
    

    <tr>
        <td colspan="2">
            <input type="submit" name="submit" value="submit" class="btn btn-warning">
        </td>
       
    </tr>
</table>
  
  </form>

</div>
{% endblock %}


