{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}

<br>
  <br>
  <br>
  <br>
  <div class="section-title" data-aos="fade-down">
    <h2>New Arrival of Uniforms</h2>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card" data-aos="fade-left">
    <div class="card-body">
      <h5 class="card-title">Add Uniforms to Inventory</h5>
      <br>
      <br>
    
<div class="container">
  <form action='' method = "POST">
  <table class="table">
      <tr>
          <td>Department Name</td>
          <td><input type = "text" name = "dep_name" class="form-control" /></td>
      </tr>
      <tr>
          <td>Course Name</td>
          <td><input type = "text" name = "course_name" class="form-control" /></td>
      </tr>
      <tr>
          <td>Uniform Type</td>
          <td>
          <select name="type" class="form-control">
              <option value="a">Type A</option>
              <option value="b">Type B</option>
              <option value="c">Type C</option>
              <option value="d">Type D</option>
           </select>
          </td>
      </tr>
      
      <tr>
          <td>Stock</td>
          <td><input type = "number" name = "stock" class="form-control" /></td>
      </tr>
  
      <tr>
          <td>Sizes</td>
          <td>
          <select name="sizes" class="form-control">
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
              <option value="extralarge">Extra Large</option>
           </select>
          </td>
      </tr>
      
  
      <tr>
          <td colspan="2">
              <input type="submit" name="submit" value="SUBMIT" class="getstarted">
          </td>
         
      </tr>
  </table>
    
    </form>
  </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<footer id="footer">
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>BAO Uniform</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
{% include 'script.html' %}
{% endblock %}
</body>

</html>