{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}

  <br>
  <br>
  <br>
  <br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Dashboard</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="container">
        <table class="table">
            <thead style="background-color: brown;color: aliceblue;">
               <th>ID</th>
               <th>Department Name</th>
               <th>Course Name</th>
               <th>Uniform Type</th>
               <th>Stock</th>
               <th>Sizes</th>
               <th>Actions</th>
           </thead>
       
          <tbody>
           {% for uniform in uniforms %}
           <tr
           {% if loop.index %2==0 %}
           style="background-color: rgb(255, 217, 247);"
           {% else %}
           style="background-color: rgb(248, 169, 231);"
           {% endif %}
           ><td>{{ loop.index }}</td>
           <td>{{uniform.dep_name}}</td>
           <td>{{uniform.course_name}}</td>
           <td>{{uniform.type}}</td>
           <td>{{uniform.stock}}</td>
           <td>{{uniform.sizes}}</td>
           <td> <span style="font-size: 24px;color:green;">
              <a href="/{{uniform.id}}/edit"> <i class="fas fa-edit"></i></a> </span>
               | <span style="font-size: 24px;color:red;">  
                 <a href="/{{uniform.id}}/delete"> <i class="fas fa-trash-alt"></i></a></span></td>
                 </tr>
        </div>

      </div>

    
  </section>
  
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>BAO Uniform</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
{% include 'script.html' %}
{% endfor %}
{% endblock %}
</body>

</html>