{% extends 'base.html' %}
{% include 'header.html' %}
 
{% block title %} Home {% endblock %}
 
{% block body %}

<div class="container">
 <table class="table">
     <thead style="background-color: brown;color: aliceblue;">
        <th>ID</th>
        <th>Department Name</th>
        <th>Course Name</th>
        <th>Uniform Type</th>
        <th>Stock</th>
        <th>Sizes</th>
    </thead>

   <tbody>
    {% for uniform in uniforms %}
    <tr
    {% if loop.index %2==0 %}
    style="background-color: rgb(255, 217, 247);"
    {% else %}
    style="background-color: rgb(248, 169, 231);"
    {% endif %}
    ><td>{{ loop.index }}</td>
    <td>{{uniform.dep_name}}</td>
    <td>{{uniform.course_name}}</td>
    <td>{{uniform.type}}</td>
    <td>{{uniform.stock}}</td>
    <td>{{uniform.sizes}}</td>
    <td> <span style="font-size: 24px;color:green;">
       <a href="/{{uniform.id}}/edit"> <i class="fas fa-edit"></i></a> </span>
        | <span style="font-size: 24px;color:red;">  
          <a href="/{{uniform.id}}/delete"> <i class="fas fa-trash-alt"></i></a></span></td>
    {% endfor %}
   </tbody>
 </table>
  
</div>


{% endblock %}