{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}

  <br>
  <br>
  <br>
  <br>
      <div class="section-title" data-aos="fade-down">
        <h2>Inventory</h2>
        <h4>A complete list of items and goods in stock of BAO.</h4>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card" data-aos="fade-left">
        <div class="card-body">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" method="GET" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
        </div>
        </div>
        </div>
        <br>
        <br>      
      <div class="container" data-aos="fade-right">
        <table class="table">
            <thead style="background-color: rgb(0, 0, 0);color: #00ff3c;">
               <th>ID</th>
               <th>Department Name</th>
               <th>Course Name</th>
               <th>Uniform Type</th>
               <th>Stock</th>
               <th>Sizes</th>
               <th>Actions</th>
           </thead>
       
          <tbody>
           {% for uniform in uniforms %}
           <tr
           {% if loop.index %2==0 %}
           style="background-color: rgb(177, 177, 177);"
           {% else %}
           style="background-color: rgb(177, 177, 177);"
           {% endif %}
           ><td>{{ loop.index }}</td>
           <td>{{uniform.dep_name}}</td>
           <td>{{uniform.course_name}}</td>
           <td>{{uniform.type}}</td>
           <td>{{uniform.stock}}</td>
           <td>{{uniform.sizes}}</td>
           <td> <span style="font-size: 24px;color:rgb(0, 0, 0);">
              <a href="/{{uniform.id}}/edit"><i class="bi bi-pencil-square"></i></a> </span>
               | <span style="font-size: 24px;color:rgb(0, 0, 0);">  
                 <a href="/{{uniform.id}}/delete"><i class="bi bi-trash3-fill"></i></a></span></td>
                 </tr>
        </div>

      </div>

  
{% include 'script.html' %}
{% endfor %}
{% endblock %}
</body>

</html>