<body>

    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="/index">BAO Uniform</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/datalist">LIST</a></li>
            <li><a href="/create">ADD UNIFORMS</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a class="getstarted scrollto" href="/logout">LOG OUT</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    