<body>

    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="/index">BAO Uniform</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/datalist">List</a></li>
            <li><a href="/create">Add Uniforms</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    