{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
<br>
  <br>
  <br>
  <br>
  <div class="section-title">
    <h2>Update Stock of Uniforms in BAO Inventory</h2>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Update Uniforms</h5>
      <br>
      
<div class="container">
<form action='' method = "POST">
<table class="table">
    <tr>
        <td>Department Name</td>
        <td><input type = "text" name = "dep_name" value="{{uniform.dep_name}}" class="form-control" /></td>
    </tr>
    <tr>
        <td>Course Name</td>
        <td><input type = "text" name = "course_name" class="form-control" value="{{uniform.course_name}}" /></td>
    </tr>
    <tr>
        <td>Type</td>
        <td>
        <select name="type" class="form-control">
            <option value="a"
            {% if 'a' in uniform.type %}
            selected
           {% endif %}
            >Type A</option>
            <option value="b"
            {% if 'b' in uniform.type %}
              selected
           {% endif %}
            >Type B</option>
            <option value="c"
            {% if 'c' in uniform.type %}
            selected
          {% endif %}
            >Type C</option>
            <option value="d"
            {% if 'd' in uniform.type %}
            selected
          {% endif %}
            >Type D</option>
         </select>
        </td>
    </tr>
    <tr>
        <td>Stock</td>
        <td><input type = "number" name = "stock" class="form-control" value="{{uniform.stock}}" /></td>
    </tr>

    <tr>
        <td>Sizes</td>
        <td>
        <select name="sizes" class="form-control">
            <option value="small"
            {% if 'small' in uniform.sizes %}
            selected
           {% endif %}
            >Small</option>
            <option value="medium"
            {% if 'medium' in uniform.sizes %}
              selected
           {% endif %}
            >Medium</option>
            <option value="large"
            {% if 'large' in uniform.sizes %}
            selected
          {% endif %}
            >Large</option>
            <option value="extralarge"
            {% if 'extralarge' in uniform.sizes %}
            selected
          {% endif %}
            >Extra Large</option>
         </select>
        </td>
    </tr>
    

    <tr>
        <td colspan="2">
            <input type="submit" name="submit" value="submit" class="btn btn-warning">
        </td>
       
    </tr>
</table>
  
  </form>

</div>
</div>
</div>
</div>
<br>
  <br>
  <br>
  <br>
<footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>BAO Uniform</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
  {% include 'script.html' %}
  {% endblock %}
  

</body>

</html>